@use './mixins/media' as media;

.flex {
  display: flex;

  &-1 {
    flex: 1;
  }

  &.col {
    flex-direction: column;

    &.gap-8 {
      row-gap: 8px;
    }

    &.gap-16 {
      row-gap: 16px;
    }

    &.gap-32 {
      row-gap: 32px;
    }
  }
  &.row {
    flex-direction: row;

    &.space-between {
      justify-content: space-between;
    }

    &.space-around {
      justify-content: space-around;
    }
    &.gap-8 {
      column-gap: 8px;
    }

    &.gap-16 {
      column-gap: 16px;
    }

    &.gap-32 {
      column-gap: 32px;
    }
  }

  &.align-center {
    align-items: center;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-end {
    justify-content: flex-end;
  }
}

@include media.xs-n-above() {
  .row-xs-n-above {
    flex-direction: row;
  }
  .col-xs-n-above {
    flex-direction: column;
  }
}
@include media.sm-n-above() {
  .row-sm-n-above {
    flex-direction: row;
  }
  .col-sm-n-above {
    flex-direction: column;
  }
}
.flex.col {
  @include media.md-n-above() {
    flex-direction: row;
  }
}
.col-md-n-above {
  flex-direction: column;
}

@include media.lg-n-above() {
  .row-lg-n-above {
    flex-direction: row;
  }
  .col-lg-n-above {
    flex-direction: column;
  }
}
@include media.lg-n-above() {
  .row-lg-n-above {
    flex-direction: row;
  }
  .col-lg-n-above {
    flex-direction: column;
  }
}
@include media.xl-n-above() {
  .row-xl-n-above {
    flex-direction: row;
  }
  .col-xl-n-above {
    flex-direction: column;
  }
}
