// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './scss/palettes' as palette;

@include mat.core();

$desktop-primary: mat.define-palette(palette.$grey-palette);
$desktop-accent: mat.define-palette(palette.$green-palette, 400, 900, A700);
$desktop-warn: mat.define-palette(mat.$red-palette);

$desktop-warn: mat.define-palette(mat.$red-palette);

$desktop-theme: mat.define-light-theme(
  (
    color: (
      primary: $desktop-primary,
      accent: $desktop-accent,
      warn: $desktop-warn,
    ),
  )
);

@include mat.all-component-themes($desktop-theme);

/* You can add global styles to this file, and also import other style files */
@import './scss/default';
@import './scss/flexbox';
@import './scss/media';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.hidden {
  display: none !important;
}

